body{
color:rgb(183, 43, 226);
background: rgb(214, 173, 230);
}
header{
    border-bottom:solid 2px rgb(14, 2, 2);
    padding: 20px;
    font-size: 32px;
    color: blueviolet;
    background-color: blue;
}
.chamada{
    background-color: cadetblue;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
